<!DOCTYPE html>{% load static %}
<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Description" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/20910ad20a.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">

    <a class="navbar-brand" href="#"><i class="fas fa-robot"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'posts_list_url' %}">Pots</a>
            <a class="nav-item nav-link" href="{% url 'tags_list' %}">Tags</a>
        </div>
    </div>

    <form class="form-inline my-2 my-lg-0" action="{% url 'posts_list_url' %}">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>

</nav>


<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-md-2">
            {% block content %}{% endblock %}
            {% include 'blog/includes/paginator.html' %}
        </div>
    </div>
</div>


{% if request.user.is_authenticated and request.user.is_staff %}
<div class="admin-panel align-items-center">
    <a href="/admin" class="btn btn-info">admin</a>

    <div class="btn-group">
        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            create
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'post_create_url' %}">post</a>
            <a class="dropdown-item" href="{% url 'tag_create_url' %}">tag</a>
        </div>
    </div>

    <a href="{{ admin_object.get_update_url }}" class="btn btn-light edit"
       style="{% if detail %}display: block;{% endif %}">edit</a>
    <a href="{{ admin_object.get_delete_url }}" class="btn btn-light delete"
       style="{% if detail %}display: block;{% endif %}">delete</a>
</div>
{% endif %}

</body>

</html>